body {
    background-color: #4912f6;
    margin: 0px;
}

.first_part {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#b {
    text-align: right;
    margin-right: 10px;
    color: #cdcdcd;
    text-decoration: none;
}

input[type=button] {
    padding: 10px 15px;
    border-radius: 25px;
    border: 0px;
    background-image: linear-gradient(to left, #eb8028 10%, #e29d2e 90%);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

a:visited {
    color: #cdcdcd;
}

.second_part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 150px 0px 0px 50px;
}

#second_left {
    flex-basis: 800px;
    flex-grow: 1;
    margin-left: 40 px;
}

#d {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #cdcdcd;
    margin-bottom: 5px;
    font-size: 30px;

}

#e {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: white;
    margin-top: 10px;
}

#f {
    color: #cdcdcd;
    font-size: large;
    margin: 0px;
}

#g {
    margin-top: 20px;
    align-self: middle;
}

.third_part {
    color: white;
    text-align: center;
    margin: 100px 0px 100px 0px;
}

.fourth_part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin: 0px 100px 0px 100px;
    align-content: flex-start;

}

.paragraph1 {
    margin: 0px;
}

.paragraph2 {
    margin: 0px
}

.paragraph3 {
    margin-top: 100px;
}

.paragraph4 {
    margin: 0px;
}

.paragraph5 {
    margin: 0px;
}

.paragraph6 {
    margin: 0px;
}

#link {
    margin-top: 20px;
    display: block;
}